* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

html {
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: black;
}

@media only screen and (min-width:1200px) {
    #app {
        display: flex;
    }
}